<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/show_data", method="post">
    <table>
        <thead>
        <tr>
            <th>First</th>
            <th>Second</th>
            <th>Third</th>
        </tr>
        </thead>
        <tbody>
        {% for i in value%}
        <tr>
            <td>i[0]</td>
            <td>i[1]</td>
            <td>i[2]</td>
        </tr>
        {%endfor%}

        </tbody>

    </table>
    <button type="submit" value="load_data_btn"> Show sechudle</button>
</form>
{{result}}

</body>
</html>